/* #b0bfd3
#03224c */
:root {
  --bg-color: #03224c;
}

.navbar-brand-custom {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#banner {
  z-index: -1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url(./images/home_bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding: 8em 0 2em;
  min-height: 100vh;
}

footer {
  background-color: var(--bg-color);
}